
#machine-container {
    margin: auto;
    background-color: #181818;
    background: repeating-linear-gradient(180deg, #252525 0%, #252525 10%, #181818 0%, #181818 50%) 0 / 10px 10px;
    
    border: rgba(81, 198, 219, 0.7) 1px solid; 
    -webkit-box-shadow: 0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 5px #3cd834, 0 0 10px #4bf742, 0 0 10px #4bf742;
    -moz-box-shadow:   0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 5px #3cd834, 0 0 10px #4bf742, 0 0 10px #4bf742;
    box-shadow:    0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 5px #3cd834, 0 0 10px #4bf742, 0 0 10px #4bf742;

    justify-content:  center;
    margin: auto;
    padding: 5px;
    width:820px;
    text-align: center;
    justify-content:  center;
}
/* min-height: 78vh; */
#quote-screen{
    
    text-align: center;
    justify-content:  center;
    margin: auto;
    padding: 0.5em;
    width:800px;
    min-height: 400px;
    max-height: 400px;
    background-color: #181818;
    background: repeating-linear-gradient(180deg, #252525 0%, #252525 10%, #181818 0%, #181818 50%) 0 / 10px 10px;
    border: rgba(81, 198, 219, 0.7) 1px solid; 
    -webkit-box-shadow:  0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 5px #3cd834, 0 0 10px #4bf742, 0 0 10px #4bf742;
    -moz-box-shadow:   0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 5px #3cd834, 0 0 10px #4bf742, 0 0 10px #4bf742;
    box-shadow:    0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 5px #3cd834, 0 0 10px #4bf742, 0 0 10px #4bf742;
}
#quote {
    font-size: 2em;
    color: rgba(90, 252, 252, 0.7);
    text-shadow:  0 0 2px #e6f9e6,0 0 5px #3cd834, 0 0 10px #3cd834, 0 0 50px #4bf742, 0 0 50px #4bf742;
    width: 100%;
    text-align: left;
}
.typing-animation{
    
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 1s steps(60, end);
}
#line{
    animation: blink 1s infinite;
}

@keyframes type {
    from {
      width: 0px;
    }
  }
  @keyframes blink {
    to {
      opacity: .0;
    }
  }
.machine-btn{
    color: #181818;
    text-shadow:  0 0 2px #e6f9e6,0 0 5px #89ecff, 0 0 10px #3cd834, 0 0 50px #60e6ff, 0 0 50px #60e6ff;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-family: Orbitron;
    font-weight: bold;
    font-size: 2em;
    background: rgba(89, 252, 216, 0.6);
    border-radius:1px;
    -webkit-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
.machine-btn:hover{
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #155635 0 0px 0px 40px inset;
    -webkit-animation: buttonGlow 1.5s ease-in-out infinite alternate;
    -moz-animation: buttonGlow 1.5s ease-in-out infinite alternate;
    animation: buttonGlow 1.5s ease-in-out infinite alternate;
}
#quoteBtn{
    margin-top:10px;
    background: transparent;
    border: none;
    background: rgba(89, 252, 216, 0.6);
    padding:5px;
    cursor: pointer; 
  }
#tweetBtn{
    margin-top:-12px;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    cursor: pointer; 
}


/* font animation*/

/*glow for mozilla*/
  
  @-moz-keyframes buttonGlow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  @keyframes buttonGlow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
