@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|VT323|Orbitron:400,900);
body {
    font-family: 'Orbitron';
    margin-top: 15vh;
    text-align: center;
    min-height: 85vh;
    background: #1c1c1c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c1c1c, #37353d, #1c1c1c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c1c1c, #37353d, #1c1c1c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title-container {
    background-color: #181818;
    background: repeating-linear-gradient(180deg, #252525 0%, #252525 10%, #181818 0%, #181818 50%) 0 / 10px 10px;
    margin: 1em auto;
    font-weight: bold;
    width: 800px;
    border: rgba(81, 198, 219, 0.7) 1px solid;
    color: rgba(90, 214, 237, 0.75);
    text-shadow: 0 0 1px #e6f9e6, 0 0 10px #3cd834, 0 0 10px #3cd834;

    -webkit-box-shadow: 0 0 2px #e6f9e6, 0 0 3px #3cd834, 0 0 3px #3cd834, 0 0 5px #4bf742, 0 0 5px #4bf742;
    -moz-box-shadow: 0 0 2px #e6f9e6, 0 0 3px #3cd834, 0 0 3px #3cd834, 0 0 5px #4bf742, 0 0 5px #4bf742;
    box-shadow: 0 0 2px #e6f9e6, 0 0 3px #3cd834, 0 0 3px #3cd834, 0 0 5px #4bf742, 0 0 5px #4bf742;
}

#page-title {
    font-size: 3em;
}

#second-title {
    margin-top: 10px;
    font-size: 1em;
}